/* Setups */
@import "layout/normalize";
@import "layout/variables";
@import "fonts";
@import "layout/setup";

/* Blocks */
@import "blocks/points";
/* Sections */
@import "sections/head";
@import "sections/best";
@import "sections/reviews";
@import "sections/order";
@import "sections/team";
@import "sections/menu";
@import "sections/map";
