* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.container-head{
  position: relative;
  display: flex;
  flex-direction: column;
}
.container-reviews{
  max-width: 1100px;
}
.section{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
