* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;
  min-height: 650px;
  background: center center / cover no-repeat;
}

.section-title{
  font-family: 'gagalin';
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: $fonts-clr_yellow;
  line-height: 1;
  margin-bottom: 25px;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: 'ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}