//color
$btn-clr: #e45028;
$btn-clr-hover: #c1401e;
$fonts-clr: #2f3234;
$fonts-clr-black: #1f2122;
$fonts-clr_yellow: #f9b43b;
$fonts-clr_red: #e35028;
//font-size
$root-font-size: 18px;
//layout
$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone:480px;