.section-title_black{
  margin-bottom: rem(42px);
  color: $fonts-clr;
}
.best{
  color: $fonts-clr;
}
.best__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.best__item{
  width: calc(100% / 3 - 1.11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include phone {
    flex-direction: initial;
    width: 100%;
    margin-bottom: 40px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.best__icon{
  width: rem(97px);
  height: rem(89px);
  margin-bottom: rem(33px);
  @include phone {
    margin-bottom: initial;
    width: rem(125px);
    flex-shrink: 0;
  }
}

.meat-icon{
  width: rem(97px);
  height: rem(89px);
}
.hand-icon{
  width: rem(73px);
  height: rem(86px);
}
.natural-icon{
  width: rem(88px);
  height: rem(76px);
}

.best__title{
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: rem(24px);
  text-align: center;
  letter-spacing: rem(-1px);
  margin-bottom: rem(20px);
  @include phone{
    margin-bottom: rem(15px);
    text-align: left;
  }
}
.best__desc{
  & p{
    text-align: justify;
    font-family: 'ubuntu';
    font-weight: 300;
    font-style: normal;
    font-size: rem(14px);
    opacity: 0.8;
    line-height: 1.71;
  }
}