.container-head{
  align-items: center;
}

.head{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.31);
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(13px);
  font-weight: 500;
  padding-top: rem(13px);
  width: 100%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-icon{
  width: rem(92px);
  height: rem(69px);
}
.head__buttons{
  display: flex;
  align-items: center;
}
.nav{
  margin-right: 17px;
}
.nav__list{
  display: flex;
  @include laptop {
    display: none;
  }
  align-items: center;
}
.nav__item{
  display: flex;
  align-items: center;
  &:after{
    content: "";
    display: block;
    height: rem(4px);
    width: rem(4px);
    border-radius: 50%;
    background-color: #fff;
    margin: 0 rem(15px);
  }
  &:last-child:after{
    display: none;
  }
}
.nav__link{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
//hamburger menu button
.hamburger-menu-link{
  width: 24px;
  height: 22px;
  margin-left: 30px;
  position: relative;
  z-index: 11;
  display: none;
  vertical-align: middle;
  @include laptop {
    display: inline-block;
  }
}

.hamburger-menu-link__item{
  background-color:#FFF;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms;
  &:nth-child(1){
    top: 0px;
    left: 0px;
  }
  &:nth-child(2){
    top: 9px;
    left: 0px;
  }
  &:nth-child(3){
    bottom: 0px;
    left: 0px;
  }
}

.hamburger-menu-link-active{
  .hamburger-menu-link__item{
    &:nth-child(1){
      transform: rotate(45deg);
      top: 9px;
    }
    &:nth-child(2){
      transform: scale(.1);
    }
    &:nth-child(3){
      transform: rotate(-45deg);
      top: 9px;
    }
  }
}
//hamburger menu button end

.hamburger-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -9999px;
  height: 100vh;
  width: 100vw;
  background-color: $fonts-clr;
}
.logo-overlay{
  position: absolute;
  top: 12px;
  left: 27px;
  z-index: 11;
}
.hamburger-menu-active{
  left: 0;
}
.hamburger-menu__list{
  flex-grow: 1;
}
.hamburger-menu__item{
  @extend .nav__item;
  &:after{
    height: rem(7px);
    width: rem(7px);
  }
  flex-direction: column;
  opacity: 0;
  animation-fill-mode: forwards;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
    .hamburger-menu__link{
      margin-bottom: 0;
    }
  }
}

.hamburger-menu__link{
  @extend .nav__link;
  margin-bottom: rem(20px);
  font-weight: normal;
  font-size: rem(24px);
  display: block;
  width: 100%;
  text-align: center;
  &:hover{
    background-color: rgba(#fff,0.1);
  }
}
.button{
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: rem(10px) rem(15px);
  background-color: $btn-clr;
  border-radius: rem(5px);
  transition: 0.2s;
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  @include iphone {
    font-size: rem(14px);
  }
  &:hover{
    background-color: $btn-clr-hover;
  }
}
.head__tagline{
  margin: auto;
  display: flex;
  align-items: flex-end;
  padding-left: rem(16px);
  padding-bottom: 8%;
  @include tablet {
    flex-direction: column;
    padding-left: initial;
    padding-bottom: initial;
    text-align: center;
    align-items: initial;
  }
}
.head__img, .head__title{
  width: 50%;
  @include tablet {
    width: 100%;
  }
}
.head__img{
  margin-right: rem(6px);
  @include tablet {
    margin-right: initial;
    padding: 0 12%;
    margin-bottom: rem(40px);
  }
  @include phone{
    padding: 0;
  }
}
.head__img-pic{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.head__title{
  padding-bottom: rem(64px);
  padding-left: rem(7px);
  @include tablet {
    padding: 0 5%;
  }
  @include phone{
    padding: 0;
  }
}

.section-title_head{
  text-align: initial;
  @include tablet {
    text-align: center;
    margin-bottom: rem(30px);
  }
}

.head__title-desc{
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: rem(65px);
  text-transform: lowercase;
  color: #fff;
  letter-spacing: rem(-2px);
  @include tablet {
    letter-spacing: initial;
  }
  @include phone {
    font-size: rem(50px);
  }
  line-height: 0.92;
}

.head__down{
  width: rem(40px);
  height: rem(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(30px);
  &:hover{
    .arrow-scroll-icon{
      transform: scale(1.3);
    }
  }
}
.arrow-scroll-icon{
  width: rem(29px);
  height: rem(15px);
  transition: transform 0.5s;
}