.container-footer{
  flex-direction: initial;
  height: initial;
  position: initial;
  @include phone{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.maps{
  height: 80%;
 // margin-bottom: 100px;
}
.map__hint{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $fonts-clr_red;
  color: #fff;
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
.map__balloon{
  background-color: rgba(#000,0.1);
  color: $fonts-clr_red;
  font-family: 'gagalin';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}
.map__icon{

}
.map-marker-icon{
  width: 46px;
  height: 58px;
}


.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: rem(10px) 0;
}
.footer__column{
  width: 50%;
  @include phone{
    width: 100%;
  }
}
.footer__column_left{
  @include tablet{
    width: 70%;
  }
}
.footer__column_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include phone{
    justify-content: center;
  }
}
.contacts{
  font-size: rem(14px);
  color: #fff;
}

.tel{
  position: relative;
  text-decoration: none;
  color: $btn-clr;
  display: block;
  height: rem(25px);
  @include phone{
    display: inline-block;
  }

}
.tel__icon{
  position: absolute;
  width: rem(16px);
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel-icon{
  width: rem(12px);
  height: rem(11px);
}
.tel__text{
  height: 100%;
  display: block;
  line-height: rem(25px);
  font-weight: 700;
  font-size: rem(14px);
  padding-left: rem(20px);
}

.socials{
  display: flex;
}
.socials__item{
  margin-right: rem(18px);
  &:last-child{
    margin-right: 0;
  }
}
.socials__link{
  width: rem(23px);
  height: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    opacity: 0.3;
    transition: 0.2s;
  }
  &:hover{
    svg{
      opacity: 1;
    }
  }
}
.vk-icon{
  width: rem(23px);
  height: rem(13px);
}
.fb-icon{
  width: rem(20px);
  height: rem(20px);

}
.inst-icon{
  width: rem(20px);
  height: rem(20px);

}
.tw-icon{
  width: rem(20px);
  height: rem(16px);
 
}