.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player__wrap{
  width: 660px;
  @include tablet {
    width: 90%
  }
  margin: 0 auto;
}

.player__video{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.player__play{
  position: relative;
}
.player__play-img{
  .player__play-icon{
    display: flex;
  }
}
.player__play-bg{
  .player__play-icon{
    background: url('/app/img/backgrounds/player-bg.jpg') center center / cover no-repeat;
  }
}
.player__play-icon{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: none;
justify-content: center;
align-items: center;
background: none
}
.player__play-link{
  &:hover{
    .play-icon{
      opacity: 1;
    }
  }
  .play-icon{
    width: rem(300px);
    height: rem(300px);
    opacity: 0.7;
    fill: #fff;
    @include tablet{
      fill: #171717;
    }
  }
}

.player__controls{
  background-color: #3e3e3e;
  width: 100%;
  position: absolute;
  top: 100%;
  padding: 0 rem(20px) 0 rem(10px);
  display: flex;
}
.player__toolbar{
  display: flex;
  width: 80%;
  @include tablet {
    width: 100%;
  }
  align-items: center;
  margin-right: rem(40px);
  @include tablet{
    margin-right: 0;
  }
}

.player__toolbar-icon{
  margin-right: rem(5px);
  display: block;
  position: relative;
  &:hover{
    .play-icon{
      opacity: 0.7;
    }
  }
  .play-icon{
    width: 35px;
    height: 35px;
    fill: #626262;
  }
}
.player__toolbar-icon_paused{
  .play-icon{
    opacity: 0;;
  }
  &:hover{
    .play-icon{
      opacity: 0;
    }
    &:before, &:after{
      background-color: rgba(#626262,0.7);
    }
  }
  &:before{
    content:"";
    position: absolute;
    left: 10px;
    top: 7px;
    bottom: 7px;
    width: 4px;
    background-color: #626262;
  }
  &:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 7px;
    bottom: 7px;
    width: 4px;
    background-color: #626262;
  }
}

.player__toolbar-range{
  height: 4px;
  background-color: #626262;
  cursor: pointer;
  display: block;
  width: 100%;
  position: relative;
  .player__toolbar-range-circle{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #626262;
    border-radius: 50%;
  }
}
.player__volume{
  display: flex;
  width: 20%;
  @include tablet {
    width: 30%;
    display: none;
  }
  align-items: center;
}
.player__volume-icon{
  position: relative;
  margin-right: rem(10px);
  display: block;
  &:hover{
    .volume-icon{
      opacity: 0.7;
    }
  }
  .volume-icon{
    width: 35px;
    height: 35px;
  }
}
.player__volume-icon_mute{
  &:before{
    content:"";
    position: absolute;
    top: 42%;
    left: 70%;
    height: 4px;
    width: 10px;
    background-color: #626262;
    transform: rotate(45deg);
    
  }
  &:after{
    content:"";
    position: absolute;
    top: 42%;
    left: 70%;
    height: 4px;
    width: 10px;
    background-color: #626262;
    transform: rotate(-45deg);
  }
  &:hover{
    &:before, &:after{
      background-color: rgba(#626262,0.7);
    }
  }
}
.player__volume-range{
  cursor: pointer;
  height: 4px;
  background-color: #626262;
  display: block;
  width: 100%;
  position: relative;
  .player__volume-range-circle{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background-color: #626262;
    border-radius: 50%;
  }
}

