.container-best{
  justify-content: center;
  text-align: center;
}
.section-title_black{
  margin-bottom: 55px;
  color: $fonts-clr;
}
.best{
  color: $fonts-clr;
}
.best__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.best__item{
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__icon{
  width: 97px;
  height: 89px;
  margin-bottom: 33px;
}

.meat-icon{
  width: 97px;
  height: 89px;
}
.hand-icon{
  width: 73px;
  height: 86px;
}
.natural-icon{
  width: 88px;
  height: 76px;
}

.best__title{
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
}
.best__desc{
  & p{
    text-align: justify;
    font-family: 'ubuntu';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.71;
  }
}