.container-head{
  align-items: center;
}

.head{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.31);
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: rem(13px);
  font-weight: 500;
  padding-top: rem(13px);
  width: 100%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-icon{
  width: rem(92px);
  height: rem(69px);
}
.head__buttons{
  display: flex;
  align-items: center;
}
.nav{
  margin-right: 17px;
}
.nav__list{
  display: flex;
  @include laptop {
    display: none;
  }
  align-items: center;
}
.nav__item{
  display: flex;
  align-items: center;
  &:after{
    content: "";
    display: block;
    height: rem(4px);
    width: rem(4px);
    border-radius: 50%;
    background-color: #fff;
    margin: 0 rem(15px);
  }
  &:last-child:after{
    display: none;
  }
}
.nav__link{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.hamburger-menu-link{
  display: none;
  vertical-align: middle;
  margin-left: 30px;
  @include laptop {
    display: inline-block;
  }
}
.hamburger-menu-link__list{
  width: rem(24px);
}
.hamburger-menu-link__item{
  height: rem(4px);
  background-color: #fff;
  border-radius: rem(5px);
  margin-bottom: rem(5px);
  &:last-child{
    margin-bottom: 0;
  }
}

.button{
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: rem(10px) rem(15px);
  background-color: $btn-clr;
  border-radius: rem(5px);
  transition: 0.2s;
  font-size: rem(13px);
  font-weight: 500;
  color: #fff;
  &:hover{
    background-color: $btn-clr-hover;
  }
}
.head__tagline{
  margin: auto;
  display: flex;
  align-items: flex-end;
  padding-left: rem(16px);
  padding-bottom: 8%;
  @include tablet {
    flex-direction: column;
    padding-left: initial;
    padding-bottom: initial;
    text-align: center;
    align-items: initial;
  }
}
.head__img, .head__title{
  width: 50%;
  @include tablet {
    width: 100%;
  }
}
.head__img{
  margin-right: rem(6px);
  @include tablet {
    margin-right: initial;
    padding: 0 12%;
    margin-bottom: rem(40px);
  }
  @include phone{
    padding: 0;
  }
}
.head__img-pic{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.head__title{
  padding-bottom: rem(64px);
  padding-left: rem(7px);
  @include tablet {
    padding: 0 5%;
  }
  @include phone{
    padding: 0;
  }
}

.section-title_head{
  text-align: initial;
  @include tablet {
    text-align: center;
    margin-bottom: rem(30px);
  }
}

.head__title-desc{
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: rem(65px);
  text-transform: lowercase;
  color: #fff;
  letter-spacing: rem(-2px);
  @include tablet {
    letter-spacing: initial;
  }
  @include phone {
    font-size: rem(50px);
  }
  line-height: 0.92;
}

.head__down{
  width: rem(40px);
  height: rem(35px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(30px);
}
.arrow-scroll-icon{
  width: rem(29px);
  height: rem(15px);
}