.head{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.31);
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  padding-top: 13px;
}
.logo{
  display: block;
}
.logo__img{
  display: block;
}
.head__buttons{
  display: flex;
  align-items: center;
}
.nav{
  margin-right: 15px;
}
.nav__list{
  display: flex;
  align-items: center;
}
.nav__item{
  display: flex;
  align-items: center;
  &:after{
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 16px;
  }
  &:last-child:after{
    display: none;
  }
}
.nav__link{
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.button{
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  background-color: $btn-clr;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  &:hover{
    background-color: $btn-clr-hover;
  }
}
.head__tagline{
  margin: auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 150px;
}
.head__img{
  margin-right: 11px;
}
.head__img-pic{
  display: block;
}
.head__title{
  padding-bottom: 59px;
}

.section-title_head{
  text-align: initial;
}

.head__title-desc{
  font-family: 'lifehack';
  font-weight: normal;
  font-style: normal;
  font-size: 65px;
  text-transform: lowercase;
  color: #fff;
  letter-spacing: -1.5px;
  line-height: 0.92;
}

.head__down{
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  display: block;
}
.head__down-img{
  display: block;
}