.container-footer{
  flex-direction: initial;
  height: initial;
  position: initial;
}
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: rem(10px) 0;
}
.footer__column{
  width: 50%;
}
.footer__column_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contacts{
  font-size: rem(14px);
  color: #fff;
}

.tel{
  position: relative;
  text-decoration: none;
  color: $btn-clr;
  display: block;
  height: rem(25px);

}
.tel__icon{
  position: absolute;
  width: rem(16px);
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel-icon{
  width: rem(12px);
  height: rem(11px);
}
.tel__text{
  height: 100%;
  display: block;
  line-height: rem(25px);
  font-weight: 700;
  font-size: rem(14px);
  padding-left: rem(20px);
}

.socials{
  display: flex;
}
.socials__item{
  margin-right: rem(18px);
  &:last-child{
    margin-right: 0;
  }
}
.socials__link{
  width: rem(23px);
  height: rem(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    opacity: 0.3;
    transition: 0.2s;
  }
  &:hover{
    svg{
      opacity: 1;
    }
  }
}
.vk-icon{
  width: rem(23px);
  height: rem(13px);
}
.fb-icon{
  width: rem(20px);
  height: rem(20px);

}
.inst-icon{
  width: rem(20px);
  height: rem(20px);

}
.tw-icon{
  width: rem(20px);
  height: rem(16px);
 
}