.player{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player__wrap{
  width: 660px;
  height: 405px;
  margin: 0 auto;
}

.player__video{
  max-width: 100%;
  max-height: 100%;
}

