.slider{
  background-image: linear-gradient(180deg, #f9b43b 0%, #f9b43b 25%, #eb8d38 50%, #f9b43b 100%);
}

.container-slider{
  flex-direction: row;
  text-align: left;
  align-items: center;
  @include laptop {
    width: 68%;
  }
  @include phone {
    width: 90%;
  }
}

.slider__scroll-left, .slider__scroll-right, .slider__composition, .slider__kkal{
  position: absolute;
}

.slider-wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.slider__list{
  right: 0;
  transition: right 0.5s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__item{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  @include laptop {
    flex-direction: column;
    text-align: center;
  }
}
.slider__right{
  width: 50%;
  @include laptop {
    width: 100%;
  }
}
.slider__left{
  width: 50%;
  margin-right: 2%;
  @include laptop {
    margin-right: 0;
    width: 70%;
  }
  @include iphone {
   height: 140px;
  }
}
.slider__img{
  max-width: 100%;
  max-height: 100%;
}
.section-title_slider{
  margin-bottom: rem(44px);
  text-align: left;
  line-height: 0.9;
  @include laptop {
    text-align: center;
  }
}

.slider__desc{
  margin-bottom: rem(10px);
  p{
    color: #fff;
    font-size: rem(14px);
    line-height: 1.71;
  }
}
.slider__price-wrap{
  display: flex;
  align-items: baseline;
  @include laptop {
    justify-content: center;
  }
}
.slider__price{
  text-transform: uppercase;
  color: $fonts-clr_red;
  font-family: 'gagalin';
  font-weight: normal;
  font-style: normal;
  margin-right: rem(30px);
}
.slider__price-number, .slider__price-text{
  display: inline-block;
}
.slider__price-number{
  font-size: rem(72px);
  @include phone {
    font-size: 50px;
  }
  letter-spacing: rem(-2px);
}
.slider__price-text{
  font-size: rem(30px);
  @include phone {
    font-size: 24px;
  }
}

.slider__composition{
  padding: rem(12px) rem(22px);
  background-color: rgba($fonts-clr_red, 0.4);
  border-radius: rem(5px);
  bottom: 89%;
  left: 0;
  z-index: 20;
  @include laptop {
    bottom: 97%;
  }
  &:hover{
    background-color: rgba($fonts-clr_red, 1);
    .slider__composition-wrap{
      left: 100%;
      opacity: 1;
    }
  }
}
.slider__composition-icon{
  margin-bottom: rem(5px);
  display: flex;
  justify-content: center;
}
.burger-icon{
  width: rem(46px);
  height: rem(45px);
}
.slider__composition-text{
  color: #fff;
  font-family: 'gagalin';
  font-weight: normal;
  font-style: normal;
  font-size: rem(14px);
  text-align: center;
}

.slider__kkal{
  opacity: 0.5;
  top: 92%;
  left: 0;
  z-index: 19;
  @include laptop {
    left: initial;
    top: initial;
    bottom: 99%;
    right: 0;
  }
  &:hover{
    opacity: 1;
  }
}
.slider__kkal-icon{
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
.slider__kkal-icon-text{
  position: absolute;
  display: inline-block;
  bottom: 0;
  @extend .slider__composition-text;
  font-size: rem(20px);
  line-height: 2;
}
.kkal-icon{
  width: rem(60px);
  height: rem(60px);
}

.slider__kkal-text{
  @extend .slider__composition-text;
}

.slider__scroll-left{
  top: 50%;
  right: 101%;
  @include phone {
    right: 95%;
    z-index: 5;
  }
  transform: translateY(-50%);
  height: 100px;
  svg{
    transform: rotate(90deg);
  }
}

.slider__scroll-right{
  top: 50%;
  left: 101%;
  @include phone {
    left: 95%;
    z-index: 5;
  }
  transform: translateY(-50%);
  height: 100px;
  svg{
    transform: rotate(-90deg)
  }
}

.beef-icon{
  width: rem(44px);
  height: rem(40px);
}
.buns-icon{
  width: rem(48px);
  height: rem(30px);
}
.salad-icon{
  width: rem(38px);
  height: rem(39px);
}
.sauce-icon{
  width: rem(40px);
  height: rem(43px);
}
.cucumber-icon{
  width: rem(42px);
  height: rem(38px);
}
.cheese-icon{
  width: rem(38px);
  height: rem(34px);
}


.slider__composition-wrap{
  width: rem(270px);
  @include phone {
    padding-right: 40px;
  }
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  padding: rem(20px);
  background-color: rgba(#fff, 0.9);
  border-radius: rem(5px);
  transition: opacity 0.5s;
}
.slider__composition-list{
  
}
.slider__composition-close{
  position: absolute;
  top: 10px;
  right: -9999px;
  visibility: hidden;
  @include phone {
    right: 10px;
    visibility: visible;
  }
  height: 18px;
  width: 18px;
  &:before{
    content:"";
    position: absolute;
    top: 7px;
    left: 0;
    height: 4px;
    width: 18px;
    background-color: rgba($fonts-clr_red,0.7);
    transform: rotate(45deg);
  }
  &:after{
    content:"";
    position: absolute;
    bottom: 7px;
    left: 0;
    height: 4px;
    width: 18px;
    background-color: rgba($fonts-clr_red,0.7);
    transform: rotate(-45deg);
  }
}

.slider__composition-item{
  display: flex;
  align-items: center;
  margin-bottom: rem(15px);
  &:last-child{
    margin-bottom: 0;
  }
  font-weight: 500;
  font-size: rem(14px);
}
.slider__composition-img{
  margin-right: rem(25px);
  width: rem(48px);
  display: flex;
  justify-content: center;
}
.slider__composition-weight{
  margin-left: auto;
}